In [2]:
import findspark
findspark.init()

In [3]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [4]:
df = spark.sql("select 'spark' as hello")
df.show()

+-----+
|hello|
+-----+
|spark|
+-----+

In [131]:
df = spark.read.csv("toy_dataset.csv")
df.show()

+------+------+------+---+-------+-------+
|   _c0|   _c1|   _c2|_c3|    _c4|    _c5|
+------+------+------+---+-------+-------+
|Number|  City|Gender|Age| Income|Illness|
|     1|Dallas|  Male| 41|40367.0|     No|
|     2|Dallas|  Male| 54|45084.0|     No|
|     3|Dallas|  Male| 42|52483.0|     No|
|     4|Dallas|  Male| 40|40941.0|     No|
|     5|Dallas|  Male| 46|50289.0|     No|
|     6|Dallas|Female| 36|50786.0|     No|
|     7|Dallas|Female| 32|33155.0|     No|
|     8|Dallas|  Male| 39|30914.0|     No|
|     9|Dallas|  Male| 51|68667.0|     No|
|    10|Dallas|Female| 30|50082.0|     No|
|    11|Dallas|Female| 48|41524.0|    Yes|
|    12|Dallas|  Male| 47|54777.0|     No|
|    13|Dallas|  Male| 46|62749.0|     No|
|    14|Dallas|Female| 42|50894.0|     No|
|    15|Dallas|Female| 61|38429.0|     No|
|    16|Dallas|  Male| 43|34074.0|     No|
|    17|Dallas|  Male| 27|50398.0|     No|
|    18|Dallas|  Male| 38|46373.0|    Yes|
|    19|Dallas|  Male| 47|51137.0|     No|
+------+------+------+---+-------+-------+
only showing top 20 rows

In [132]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)

In [133]:
df = spark.read.csv("toy_dataset.csv", inferSchema = True, header = True)
df.printSchema()

root
 |-- Number: integer (nullable = true)
 |-- City: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Income: double (nullable = true)
 |-- Illness: string (nullable = true)

In [11]:
df.count()

150000

In [12]:
df.where(df.Gender == "Male").count()

83800

In [130]:
df2 = df.sample(0.01)

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: string (nullable = true)
 |-- _c20: string (nullable = true)
 |-- _c21: string (nullable = true)
 |-- _c22: string (nullable = true)
 |-- _c23: string (nullable = true)
 |-- _c24: string (nullable = true)
 |-- _c25: string (nullable = true)
 |-- _c26: string (nullable = true)
 |-- _c27: string (nullable = true)
 |-- _c28: string (nullable = true)
 |-- _c29: string (nullable = true)
 |-- _c30: string (nullable = true)
 |-- _c31: string (nullable = true)
 |-- _c32: string (nullable = true)
 |-- _c33: string (nullable = true)
 |-- _c34: string (nullable = true)
 |-- _c35: string (nullable = true)
 |-- _c36: string (nullable = true)
 |-- _c37: string (nullable = true)
 |-- _c38: string (nullable = true)
 |-- _c39: string (nullable = true)
 |-- _c40: string (nullable = true)

In [14]:
df.groupBy("City").count().show()

+---------------+-----+
|           City|count|
+---------------+-----+
|         Dallas|19707|
|    Los Angeles|32173|
|      San Diego| 4881|
|         Austin|12292|
|  New York City|50307|
|Washington D.C.| 8120|
|  Mountain View|14219|
|         Boston| 8301|
+---------------+-----+

In [15]:
df.groupBy("City").count().count()

8

In [22]:
print("Ill: ", df.where(df.Illness == "Yes").count())
print("Not Ill: ", df.where(df.Illness == "No").count())

Ill:  12139
Not Ill:  137861

In [24]:
df2 = df.groupBy("Illness").count().show()

+-------+------+
|Illness| count|
+-------+------+
|     No|137861|
|    Yes| 12139|
+-------+------+

In [35]:
df2 = df.groupBy("Illness").count()
rows = df2.select("count").collect()

print(rows[0][0])
print(type(rows[0]))

137861
<class 'pyspark.sql.types.Row'>

In [58]:
male_num = df.where(df.Gender == "Male").count()
female_num = df.where(df.Gender == "Female").count()
total = male_num + female_num
print(total)
male_percent = male_num/total*100
female_percent = female_num/total*100
print("Male ", male_percent, "+ Female ", female_percent, " = ", male_percent + female_percent)
print("Total: {} + {} = {}".format(male_num, female_num, total))

150000
Male  55.86666666666667 + Female  44.13333333333333  =  100.0
Total: 83800 + 66200 = 150000

In [62]:
df2 = df.where(df.Illness=="Yes").groupBy(df.Gender).count()
df2.show()

+------+-----+
|Gender|count|
+------+-----+
|Female| 5331|
|  Male| 6808|
+------+-----+

In [69]:
from pyspark.sql.functions import col, asc,desc
df2 = df.where(df.Illness=="Yes").groupBy(df.City).count().sort(col("count").desc())
df2.show()
df2.take(1)

+---------------+-----+
|           City|count|
+---------------+-----+
|  New York City| 4021|
|    Los Angeles| 2568|
|         Dallas| 1613|
|  Mountain View| 1178|
|         Austin| 1011|
|         Boston|  686|
|Washington D.C.|  668|
|      San Diego|  394|
+---------------+-----+

[Row(City='New York City', count=4021)]

In [71]:
from pyspark.sql.functions import mean

In [73]:
df2 = df.where(df.Illness=="Yes").select(mean("Income")).show()

+----------------+
|     avg(Income)|
+----------------+
|91277.8753604086|
+----------------+

In [75]:
df2 = df.where(df.Illness=="No").select(mean("Income")).withColumnRenamed("avg(Income)", "Mean Healthy Income").show()

+-------------------+
|Mean Healthy Income|
+-------------------+
|  91250.59017416093|
+-------------------+

In [81]:
avgIll = df.where(df.Illness=="Yes").select(mean("Income")).withColumnRenamed("avg(Income)", "Mean Ill Income")
avgHealthy = df.where(df.Illness=="No").select(mean("Income")).withColumnRenamed("avg(Income)", "Mean Healthy Income")
avgIll.join(avgHealthy).show(vertical=True)

-RECORD 0--------------------------------
 Mean Ill Income     | 91277.8753604086
 Mean Healthy Income | 91250.59017416093

In [84]:
ageIll = df.where(df.Illness=="Yes").select(mean("Age")).withColumnRenamed("avg(Age)", "Average Age of Ill People").show()

+-------------------------+
|Average Age of Ill People|
+-------------------------+
|        45.02084191449048|
+-------------------------+

In [87]:
ageIll = df.where(df.Illness=="Yes").select("Age").withColumnRenamed("avg(Age)", "Average Age of Ill People").summary().show()

+-------+------------------+
|summary|               Age|
+-------+------------------+
|  count|             12139|
|   mean| 45.02084191449048|
| stddev|11.554129904969162|
|    min|                25|
|    25%|                35|
|    50%|                45|
|    75%|                55|
|    max|                65|
+-------+------------------+

In [118]:
ill = df.where(df.Illness=="No").select("City", "Age").sort(col("Age").desc()).collect()
print(ill[0])

Row(City='Dallas', Age=65)

In [124]:
from pyspark.sql.functions import max
df.select(max("Age")).show()

+--------+
|max(Age)|
+--------+
|      65|
+--------+

In [138]:
df3 = spark.read.csv("Subsidized_Housing.csv", inferSchema = True, header = True)
df3.printSchema()

root
 |-- X: double (nullable = true)
 |-- Y: double (nullable = true)
 |-- OBJECTID: integer (nullable = true)
 |-- ID: integer (nullable = true)
 |-- NAME: string (nullable = true)
 |-- ADDRESS: string (nullable = true)
 |-- CITY: string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- ZIP: integer (nullable = true)
 |-- COUNTY: string (nullable = true)
 |-- PHONE: string (nullable = true)
 |-- ADMIN: string (nullable = true)
 |-- FIRST_BUIL: integer (nullable = true)
 |-- LAST_BUILT: integer (nullable = true)
 |-- AGE: integer (nullable = true)
 |-- MSHDA: integer (nullable = true)
 |-- LIHTC: integer (nullable = true)
 |-- MARKET: integer (nullable = true)
 |-- RAP: integer (nullable = true)
 |-- SEC_515_UN: integer (nullable = true)
 |-- SEC_202_UN: integer (nullable = true)
 |-- BARRIER_FR: integer (nullable = true)
 |-- REHAB_CHOI: integer (nullable = true)
 |-- PUBLIC_HSG: integer (nullable = true)
 |-- SEC_221D3_: integer (nullable = true)
 |-- SEC_236_UN: integer (nullable = true)
 |-- SEC_8_UNIT: integer (nullable = true)
 |-- RS_UNITS: integer (nullable = true)
 |-- SPECIAL_HS: integer (nullable = true)
 |-- ELD_EFF: integer (nullable = true)
 |-- ELD_1BR: integer (nullable = true)
 |-- ELD_2BR: integer (nullable = true)
 |-- ELD_3BR: integer (nullable = true)
 |-- ELD_4BR: integer (nullable = true)
 |-- ELD_TOT: integer (nullable = true)
 |-- FAM_EFF: integer (nullable = true)
 |-- FAM_1BR: integer (nullable = true)
 |-- FAM_2BR: integer (nullable = true)
 |-- FAM_3BR: integer (nullable = true)
 |-- FAM_4BR: integer (nullable = true)
 |-- FAM_TOT: integer (nullable = true)

In [148]:
df3.select("Name", "Address", "City", "State", "Zip", "County", "Phone", "Admin", "FIRST_BUIL", "LAST_BUILT", "Age").show(vertical=True)

-RECORD 0--------------------------
 Name       | Orion Four Seasons
 Address    | Baldwin Road
 City       | Orion Twp
 State      | MI
 Zip        | 0
 County     | Oakland
 Phone      |
 Admin      | MSHDA
 FIRST_BUIL | 2002
 LAST_BUILT | 2002
 Age        | 9
-RECORD 1--------------------------
 Name       | Island Woods
 Address    | Gray's Drive
 City       | Grosse Ile
 State      | MI
 Zip        | 48138
 County     | Wayne
 Phone      | (734)476-8029
 Admin      | MSHDA
 FIRST_BUIL | 2002
 LAST_BUILT | 2002
 Age        | 9
-RECORD 2--------------------------
 Name       | Flint Hsg Commission
 Address    | Scattered Sites
 City       | Flint
 State      | MI
 Zip        | 0
 County     | Genesee
 Phone      | (810)736-3050
 Admin      | Public Housing
 FIRST_BUIL | 1968
 LAST_BUILT | 1970
 Age        | 41
-RECORD 3--------------------------
 Name       | Pittman Memorial
 Address    | Wilkins & Chene S...
 City       | Detroit
 State      | MI
 Zip        | 48207
 County     | Wayne
 Phone      |
 Admin      | Other
 FIRST_BUIL | 0
 LAST_BUILT | 0
 Age        | 0
-RECORD 4--------------------------
 Name       | Rademaker Lodge
 Address    |
 City       | Detroit
 State      | MI
 Zip        | 0
 County     | Wayne
 Phone      |
 Admin      | HUD
 FIRST_BUIL | 0
 LAST_BUILT | 0
 Age        | 0
-RECORD 5--------------------------
 Name       | Rolling Brook Apt...
 Address    | 1500 Fruit St
 City       | Algonac
 State      | MI
 Zip        | 48001
 County     | St. Clair
 Phone      | (810)794-2440
 Admin      | Rural Housing
 FIRST_BUIL | 1992
 LAST_BUILT | 1992
 Age        | 19
-RECORD 6--------------------------
 Name       | Rolling Brook Apts
 Address    | 1885 Fruit Street
 City       | Algonac
 State      | MI
 Zip        | 48001
 County     | St. Clair
 Phone      | (810)794-2440
 Admin      | Rural Housing
 FIRST_BUIL | 1984
 LAST_BUILT | 1984
 Age        | 27
-RECORD 7--------------------------
 Name       | Rolling Brook Apt...
 Address    | 1885 Fruit Street
 City       | Algonac
 State      | MI
 Zip        | 48001
 County     | St. Clair
 Phone      | (810)794-2440
 Admin      | Rural Housing
 FIRST_BUIL | 1990
 LAST_BUILT | 1990
 Age        | 21
-RECORD 8--------------------------
 Name       | Plaza Towers Apts
 Address    | 580 N Main St
 City       | Almont
 State      | MI
 Zip        | 48003
 County     | Lapeer
 Phone      | (810)798-3370
 Admin      | Rural Housing
 FIRST_BUIL | 0
 LAST_BUILT | 0
 Age        | 0
-RECORD 9--------------------------
 Name       | Baldwin House
 Address    | 200 Chester St
 City       | Birmingham
 State      | MI
 Zip        | 48009
 County     | Oakland
 Phone      | (248)540-4555
 Admin      | MSHDA
 FIRST_BUIL | 1993
 LAST_BUILT | 1993
 Age        | 18
-RECORD 10-------------------------
 Name       | Wilshire, The
 Address    | 388 W. Grand Blvd
 City       | Detroit
 State      | MI
 Zip        | 48009
 County     | Wayne
 Phone      | (517)799-9667
 Admin      | Other
 FIRST_BUIL | 0
 LAST_BUILT | 0
 Age        | 0
-RECORD 11-------------------------
 Name       | Matteson Street A...
 Address    | 130 Matteson Street
 City       | Capac
 State      | MI
 Zip        | 48014
 County     | St. Clair
 Phone      | (810)395-2698
 Admin      | Rural Housing
 FIRST_BUIL | 1992
 LAST_BUILT | 1993
 Age        | 18
-RECORD 12-------------------------
 Name       | Glencrest Apts I
 Address    | 1522 Park Street
 City       | Capac
 State      | MI
 Zip        | 48014
 County     | St. Clair
 Phone      | (810)395-4549
 Admin      | Rural Housing
 FIRST_BUIL | 1982
 LAST_BUILT | 1983
 Age        | 28
-RECORD 13-------------------------
 Name       | Glencrest Apts Ii
 Address    | 1522 Park Street
 City       | Capac
 State      | MI
 Zip        | 48014
 County     | St. Clair
 Phone      | (810)395-4549
 Admin      | Rural Housing
 FIRST_BUIL | 1987
 LAST_BUILT | 1987
 Age        | 24
-RECORD 14-------------------------
 Name       | Lawrence Park
 Address    | 7000 10 Mile
 City       | Center Line
 State      | MI
 Zip        | 48015
 County     | Macomb
 Phone      | (586)757-0502
 Admin      | MSHDA
 FIRST_BUIL | 1982
 LAST_BUILT | 1982
 Age        | 29
-RECORD 15-------------------------
 Name       | Center Line Park ...
 Address    | 8033 10 Mile Road
 City       | Center Line
 State      | MI
 Zip        | 48015
 County     | Macomb
 Phone      | (586)755-2270
 Admin      | MSHDA
 FIRST_BUIL | 1976
 LAST_BUILT | 2006
 Age        | 5
-RECORD 16-------------------------
 Name       | Dunn Family Sr. Cit.
 Address    | 8400 Engleman
 City       | Center Line
 State      | MI
 Zip        | 48015
 County     | Macomb
 Phone      | (586)756-3322
 Admin      | HUD
 FIRST_BUIL | 1970
 LAST_BUILT | 1971
 Age        | 40
-RECORD 17-------------------------
 Name       | Clawson Manor
 Address    | 255 W 14 Mile Rd
 City       | Clawson
 State      | MI
 Zip        | 48017
 County     | Oakland
 Phone      | (248)435-5650
 Admin      | HUD
 FIRST_BUIL | 1970
 LAST_BUILT | 1970
 Age        | 41
-RECORD 18-------------------------
 Name       | Detroit Baptist M...
 Address    | 23200 Drake Road
 City       | Farmington Hills
 State      | MI
 Zip        | 48018
 County     | Oakland
 Phone      | (248)626-6100
 Admin      | HUD
 FIRST_BUIL | 1976
 LAST_BUILT | 1976
 Age        | 35
-RECORD 19-------------------------
 Name       | Detroit Baptist M...
 Address    | 30239 13 Mile
 City       | Farmington Hills
 State      | MI
 Zip        | 48018
 County     | Oakland
 Phone      | (248)626-6100
 Admin      | HUD
 FIRST_BUIL | 1978
 LAST_BUILT | 1978
 Age        | 33
only showing top 20 rows

In [155]:
df3.select("Name", "Age").sort(col("Age").desc()).show()

+--------------------+---+
|                Name|Age|
+--------------------+---+
|          Field Apts| 88|
|      Lee Crest Apts| 81|
|   Seventy West Apts| 79|
|Parkside Homes An...| 73|
|   Colonel Hamtramck| 70|
|     Sojourner Truth| 69|
|        Ryan Ct Apts| 66|
|    West Boston Apts| 61|
|   Northlawn Gardens| 56|
|     Voisine Terrace| 53|
|       Wayne Housing| 52|
|    Le Moyng Gardens| 52|
|         Sky Harbour| 51|
|     Rochester Manor| 51|
|    Parklane Th Coop| 51|
|  Clemens Homes 28-1| 50|
|    Broadway Terrace| 49|
|      Rochdale Court| 49|
|       Lurie Terrace| 49|
|    Wade Mcree Plaza| 49|
+--------------------+---+
only showing top 20 rows

In [171]:
df4 = spark.read.json("1880-2016.json")
df4.printSchema()

root
 |-- data: struct (nullable = true)
 |    |-- 1880: string (nullable = true)
 |    |-- 1881: string (nullable = true)
 |    |-- 1882: string (nullable = true)
 |    |-- 1883: string (nullable = true)
 |    |-- 1884: string (nullable = true)
 |    |-- 1885: string (nullable = true)
 |    |-- 1886: string (nullable = true)
 |    |-- 1887: string (nullable = true)
 |    |-- 1888: string (nullable = true)
 |    |-- 1889: string (nullable = true)
 |    |-- 1890: string (nullable = true)
 |    |-- 1891: string (nullable = true)
 |    |-- 1892: string (nullable = true)
 |    |-- 1893: string (nullable = true)
 |    |-- 1894: string (nullable = true)
 |    |-- 1895: string (nullable = true)
 |    |-- 1896: string (nullable = true)
 |    |-- 1897: string (nullable = true)
 |    |-- 1898: string (nullable = true)
 |    |-- 1899: string (nullable = true)
 |    |-- 1900: string (nullable = true)
 |    |-- 1901: string (nullable = true)
 |    |-- 1902: string (nullable = true)
 |    |-- 1903: string (nullable = true)
 |    |-- 1904: string (nullable = true)
 |    |-- 1905: string (nullable = true)
 |    |-- 1906: string (nullable = true)
 |    |-- 1907: string (nullable = true)
 |    |-- 1908: string (nullable = true)
 |    |-- 1909: string (nullable = true)
 |    |-- 1910: string (nullable = true)
 |    |-- 1911: string (nullable = true)
 |    |-- 1912: string (nullable = true)
 |    |-- 1913: string (nullable = true)
 |    |-- 1914: string (nullable = true)
 |    |-- 1915: string (nullable = true)
 |    |-- 1916: string (nullable = true)
 |    |-- 1917: string (nullable = true)
 |    |-- 1918: string (nullable = true)
 |    |-- 1919: string (nullable = true)
 |    |-- 1920: string (nullable = true)
 |    |-- 1921: string (nullable = true)
 |    |-- 1922: string (nullable = true)
 |    |-- 1923: string (nullable = true)
 |    |-- 1924: string (nullable = true)
 |    |-- 1925: string (nullable = true)
 |    |-- 1926: string (nullable = true)
 |    |-- 1927: string (nullable = true)
 |    |-- 1928: string (nullable = true)
 |    |-- 1929: string (nullable = true)
 |    |-- 1930: string (nullable = true)
 |    |-- 1931: string (nullable = true)
 |    |-- 1932: string (nullable = true)
 |    |-- 1933: string (nullable = true)
 |    |-- 1934: string (nullable = true)
 |    |-- 1935: string (nullable = true)
 |    |-- 1936: string (nullable = true)
 |    |-- 1937: string (nullable = true)
 |    |-- 1938: string (nullable = true)
 |    |-- 1939: string (nullable = true)
 |    |-- 1940: string (nullable = true)
 |    |-- 1941: string (nullable = true)
 |    |-- 1942: string (nullable = true)
 |    |-- 1943: string (nullable = true)
 |    |-- 1944: string (nullable = true)
 |    |-- 1945: string (nullable = true)
 |    |-- 1946: string (nullable = true)
 |    |-- 1947: string (nullable = true)
 |    |-- 1948: string (nullable = true)
 |    |-- 1949: string (nullable = true)
 |    |-- 1950: string (nullable = true)
 |    |-- 1951: string (nullable = true)
 |    |-- 1952: string (nullable = true)
 |    |-- 1953: string (nullable = true)
 |    |-- 1954: string (nullable = true)
 |    |-- 1955: string (nullable = true)
 |    |-- 1956: string (nullable = true)
 |    |-- 1957: string (nullable = true)
 |    |-- 1958: string (nullable = true)
 |    |-- 1959: string (nullable = true)
 |    |-- 1960: string (nullable = true)
 |    |-- 1961: string (nullable = true)
 |    |-- 1962: string (nullable = true)
 |    |-- 1963: string (nullable = true)
 |    |-- 1964: string (nullable = true)
 |    |-- 1965: string (nullable = true)
 |    |-- 1966: string (nullable = true)
 |    |-- 1967: string (nullable = true)
 |    |-- 1968: string (nullable = true)
 |    |-- 1969: string (nullable = true)
 |    |-- 1970: string (nullable = true)
 |    |-- 1971: string (nullable = true)
 |    |-- 1972: string (nullable = true)
 |    |-- 1973: string (nullable = true)
 |    |-- 1974: string (nullable = true)
 |    |-- 1975: string (nullable = true)
 |    |-- 1976: string (nullable = true)
 |    |-- 1977: string (nullable = true)
 |    |-- 1978: string (nullable = true)
 |    |-- 1979: string (nullable = true)
 |    |-- 1980: string (nullable = true)
 |    |-- 1981: string (nullable = true)
 |    |-- 1982: string (nullable = true)
 |    |-- 1983: string (nullable = true)
 |    |-- 1984: string (nullable = true)
 |    |-- 1985: string (nullable = true)
 |    |-- 1986: string (nullable = true)
 |    |-- 1987: string (nullable = true)
 |    |-- 1988: string (nullable = true)
 |    |-- 1989: string (nullable = true)
 |    |-- 1990: string (nullable = true)
 |    |-- 1991: string (nullable = true)
 |    |-- 1992: string (nullable = true)
 |    |-- 1993: string (nullable = true)
 |    |-- 1994: string (nullable = true)
 |    |-- 1995: string (nullable = true)
 |    |-- 1996: string (nullable = true)
 |    |-- 1997: string (nullable = true)
 |    |-- 1998: string (nullable = true)
 |    |-- 1999: string (nullable = true)
 |    |-- 2000: string (nullable = true)
 |    |-- 2001: string (nullable = true)
 |    |-- 2002: string (nullable = true)
 |    |-- 2003: string (nullable = true)
 |    |-- 2004: string (nullable = true)
 |    |-- 2005: string (nullable = true)
 |    |-- 2006: string (nullable = true)
 |    |-- 2007: string (nullable = true)
 |    |-- 2008: string (nullable = true)
 |    |-- 2009: string (nullable = true)
 |    |-- 2010: string (nullable = true)
 |    |-- 2011: string (nullable = true)
 |    |-- 2012: string (nullable = true)
 |    |-- 2013: string (nullable = true)
 |    |-- 2014: string (nullable = true)
 |    |-- 2015: string (nullable = true)
 |    |-- 2016: string (nullable = true)
 |-- description: struct (nullable = true)
 |    |-- base_period: string (nullable = true)
 |    |-- missing: long (nullable = true)
 |    |-- title: string (nullable = true)
 |    |-- units: string (nullable = true)

In [170]:
df4.select("data", "description").show(vertical=True)

-RECORD 0---------------------------
 data        | {-0.12, -0.09, -0...
 description | {1901-2000, -999,...